@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="" value="${item.id}" underline="true"/>
                    <#input id="appId" name="应用id" value="${item.appId}" underline="true"/>
                    <#input id="envId" name="环境id" value="${item.envId}" underline="true"/>
                    <#input id="configKey" name="配置key" value="${item.configKey}" underline="true"/>
                    <#input id="configValue" name="配置value" value="${item.configValue}" underline="true"/>
                    <#input id="configDesc" name="描述" value="${item.configDesc}" />
                </div>

                <div class="col-sm-6">
                    <#input id="status" name="状态, -1:删除, 0:已发布, 1:新增, 2:修改" value="${item.status}" underline="true"/>
                    <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                    <#input id="createUser" name="创建人" value="${item.createUser}" underline="true"/>
                    <#input id="updateTime" name="更新时间" value="${item.updateTime}" underline="true"/>
                    <#input id="updateUser" name="更新人" value="${item.updateUser}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ConfigInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ConfigInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/cfg/config/config_info.js"></script>
@}
