@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>关联用户管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AppUser.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AppUserTableToolbar" role="group">
                            @if(shiro.hasPermission("/appUser/add")){
                            <#button name="添加" icon="fa-plus" clickFun="AppUser.openAddAppUser()"/>
                            @}
                            @if(shiro.hasPermission("/appUser/update")){
                            <#button name="修改" icon="fa-edit" clickFun="AppUser.openAppUserDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/appUser/delete")){
                            <#button name="删除" icon="fa-remove" clickFun="AppUser.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="AppUserTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/cfg/appUser/appUser.js"></script>
@}
